@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.auth-container {
  padding: 0 !important;
  display: flex;
  align-items: center;
  height: 100vh !important;       /* Tam ekran hündürlüyü */
  width: 100vw;        /* Tam ekran enlik */
  overflow: hidden !important;    /* Scroll çıxmasın */
}

.auth-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.auth-container .container {
  position: relative;
  width: 100%;
  height: 100vh;       /* Tam ekran hündürlüyü */
  max-height: 100vh;
  background: #fff;
  margin: 0;           /* Margin sıfırlandı */
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  overflow: hidden;    /* Scroll çıxmasın */
    position: relative; /* position yoxdursa, əlavə etmək lazımdır */
}

.auth-container .container h1 {
  font-size: 60px;
  margin: 20px 0;
  color: white;

}

.auth-container .container h2 {
  font-size: 50px;
  margin: 100px 0 10px;
  color: #443cdd;

}

.auth-container .container p {
  font-size: 14.5px;
  margin: 15px 0;
}

.auth-container form {
  width: 100%;
}

.auth-container .form-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;        /* Tam container hündürlüyü */
  background: #fff;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: right 0.6s ease-in-out 1.2s, visibility 0s 1s;
  overflow: hidden;    /* Scroll çıxmasın */
}



.auth-container .form-box.register {
  visibility: hidden;
}

.auth-container .container.active .form-box.register {
  visibility: visible;
}

.auth-container .input-box {
  /* position: relative; */
  margin: 20px 0;
  padding: 4px;  /* əlavə et */
  background: transparent; /* lazım gələrsə rəng ver */
  border-radius: 8px; /* inputla eyni radius */
}



.auth-container .input-box input {
  width: 70%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.register-btn,.login-btn {
  height: 50px;
  width: 140px;
  color: #2c44e0;
  font-size: 20px;
  border-radius: 10px !important;
}

.register-btn:hover, .login-btn:hover {
  background-color: #b8b8b7;
}


.auth-container .input-box input::placeholder {
  color: #888;
  font-weight: 400;
}



.auth-container .forgot-link {
  margin: -15px 0 15px;
}

.auth-container .forgot-link a {
  font-size: 14.5px;
  color: #333;
}

.desktop-btn {
  width: 70%;
  height: 48px;
  background: #1c1fba;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  align-self: center;

}

.auth-container .social-icons {
  display: flex;
  justify-content: center;
}

.auth-container .social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  margin: 0 8px;
}

.auth-container .toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.auth-container .toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #3f61c4;
/* background-image: url("../image/ocean.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.auth-container .container.active .toggle-box::before {
  left: 50%;
}

.auth-container .toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: .6s ease-in-out;
}

.auth-container .toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.auth-container .container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: .6s;
}

.auth-container .toggle-panel.toggle-right {
  right: -50%;
  transition-delay: .6s;
}

.auth-container .container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.auth-container .toggle-panel h3 {
  margin-bottom: 20px;
}

.desktop2-btn {
  height: 46px;
  box-shadow: none;
  align-self: center;
  width: 70%;
  height: 48px;
  background: #1c1fba;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: 600;

}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}



@media screen and (max-width: 650px) {
  .auth-container .container {
    height: 100vh;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .auth-container .form-box.login {
    bottom: 0;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
  }

  .auth-container .container.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .auth-container .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .auth-container .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .auth-container .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .auth-container .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .auth-container .toggle-panel.toggle-left {
    top: 0;
  }

  .auth-container .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .auth-container .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .auth-container .form-box {
    padding: 20px;
  }

  .auth-container .toggle-panel h1 {
    font-size: 30px;
  }
}




.auth-container .form-box {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  transition: all 0.6s ease-in-out;
}


.auth-container .form-box.login {
  right: 0;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.auth-container .form-box.register {
  left: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.auth-container .container.active .form-box.login {
  left: -100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.auth-container .container.active .form-box.register {
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

