.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #caeaec;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.navbar-place {
  font-size: 30px;
  font-style: italic;
  color: #1b7928;
  font-weight: bold;
  text-decoration: none !important;
}


.navbar-links {
  display: flex;
  gap: 30px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  overflow-x: auto;
  scrollbar-width: none;
}

.navlink-style {
  text-decoration: none;
  color: #1035af;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 20px;
  margin-right: 20px;
}

.navlink-style:hover {
  color: #121d7e;
}

.active-link {
  color: #1520e7;
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0b9361;
  border-radius: 2px;
}

.profile-login {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-icon {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #006d77;
  color: white;
  border-radius: 17px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #003f4d;
}

.burger-menu {
  display: none;
  cursor: pointer;
  color: #006d77;
  user-select: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0b9361;
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    gap: 10px;
  }

  .navbar-logo img {
    width: 90px;
  }

  .navbar-links {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #d8f0f7;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    gap: 20px;
    transform: translateX(100%);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px 0 0 10px;
    overflow-y: auto;
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links a {
    font-size: 15px;
  }

  .navbar-links a:hover {
    color: #060f42;
    border-bottom: 1px solid rgb(0, 81, 255);
  }

  .burger-menu {
    display: block;
  }

  .profile-login {
    gap: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .logout-button {
    padding: 7px 16px;
    /* margin-right:px; */
    font-size: 14px;
  }
}
